<!DOCTYPE html>
<html xmlns:th = "http://www.thmeleaf.org">
    <th:block th:fragment="headerFragment">


        <nav class="navbar">
            <div class = "navbar__logo">
                <i class="fab fa-taradani"></i>
<!--                따라다니 로고-->
                <a href="#">LOGO</a>
            </div>

            <ul class="navbar__menu">
                <li><a href="">엑티비티</a></li>
                <li><a href="">일정</a></li>
                <li><a href="">섹션1</a></li>
                <li><a href="">섹션2</a></li>
            </ul>
        </nav>




    </th:block>
</html>