<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<th:block th:fragment="headFragment">
    <head>
        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale = 1"/>
        <title>따라다니</title>
        <!--    css 추가-->
        <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/section3.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/section4.css}">

        <!--    javascript 추가-->

    </head>
</th:block>
</html>