<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/section3.css}">
</head>

<body>
<div th:fragment="section3">
    <div class="section3">
        <div class="left_top_textBox">
            <p>일정을 편리하게 계획해보세요.</p>
            <h1>미국 5박 6일 일정 정해줘</h1>
        </div>

        <div class="left-box">
            <div class="title-box">
                <p> # 항공 </p>
            </div>
            <div class="image-box">
                <h1> 이미지가 들어갈 장소입니다.</h1>
            </div>
        </div>
    </div>
</div>
</body>
</html>
