<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="section1" th:fragment="section1">

    <!-- 메인텍스트 -->
    <div class="main-text" th:fragment="section1">
        국내 해외 맞춤 여행계획 컨설팅
    </div>

    <div class="sub-text" th:fragment="section1">
        항공, 숙소, 맛집관광까지 원하는 여행계획은 따라다니에게!
    </div>

    <div class="button-container" th:fragment="section1">
        <!-- 버튼 두개 -->
        <a href="#" class="custom-button1" th:onclick="consultation()">무료 컨설팅 받기</a>
        <a href="#" class="custom-button2" th:onclick="viewDetails()">포트폴리오 ></a>
    </div>

    <!-- 우하단의 위치태그박스 -->
    <div class="location-name" th:fragment="section1">
        <div class="location-box">
            <div class="icon-container">
                <img th:src="@{/static/assets/locationICON.png}" alt="아이콘" class="icon">
                <h3>하이헬로 해변, 하와이</h3>
            </div>
        </div>
    </div>



</div>
</body>
</html>
