<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<!-- layout Section1 fragment -->
<div layout:fragment="section">

    <th:block th:replace="~{fragments/head :: headFragment}"></th:block>

    <!-- layout Section1 fragment -->
    <div th:replace="~{fragments/section1 :: section1}"></div>

    <!-- layout Section2 fragment -->
    <div th:replace="~{fragments/section2 :: section2}"></div>

    <!-- layout Section3 fragment -->
    <div th:replace="~{fragments/section3 :: section3}"></div>

    <!-- layout Section4 fragment -->
    <div th:replace="~{fragments/section4 :: section4}"></div>


</div>

<!-- layout Section1 fragment -->


</html>
