.section1 {
    background-image: url('images/section1BACK.png');
    background-size: cover;
    object-fit: cover;
    background-position: center;
    margin: 0;
    height: 80vh;
    width: 100%;
}

.text_box{
    text-shadow: black;
    padding-top: 250px ;
    padding-left: 100px;
}

.main-text {
    color: white;
    font-size: 45px;
    font-weight: bold;
    text-align: left;
}

.sub-text {
    color: white;
    font-size: 22px;
    text-align: left;
    padding-top: 10px;

}

.button-container {
    text-align: left;
    padding-top: 50px;
    padding-left: 100px;
}

.custom-button1{
    background-color: #0085FF;
    color: white;
    padding: 10px 20px;

    font-size: 17px;
    text-decoration: none;
    border-radius: 12px;
    cursor: pointer;
}

.custom-button2{
    background-color: rgba(0, 133, 255, 0); /* 투명색 */
    color: white;
    padding: 10px 20px;
    font-size: 17px;
    text-decoration: none;
    border-radius: 12px;
    cursor: pointer;
}

.location-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 248px;
    height: 63px;
    background-color: rgba(255, 255, 255, 0.3); /* 약간 불투명한 하얀색 */
    color: white;
<<<<<<< Updated upstream
    margin-left: auto;
    margin-right: 30px;
=======
>>>>>>> Stashed changes
    border-radius: 12px;
}

.icon-container {
    display: flex;
    align-items: center;
}

.icon {
    width: 15px; /* 아이콘의 너비 */
    height: 20px; /* 아이콘의 높이 */
    margin-right: 10px; /* 아이콘과 텍스트 간의 여백 */
}

.location-name{
    padding-left: 75%;
    padding-top: 5%;
}